In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:

print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [12]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 13 s, sys: 901 ms, total: 13.9 s
Wall time: 39.3 s

1000

In [13]:
from time import time

In [14]:
#Iterate through batches of data in Taxi dataset and upload to postgres instance
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 33.548 second
inserted another chunk, took 33.656 second
inserted another chunk, took 30.835 second
inserted another chunk, took 29.639 second
inserted another chunk, took 31.446 second
inserted another chunk, took 28.919 second
inserted another chunk, took 33.513 second
inserted another chunk, took 31.898 second
inserted another chunk, took 30.969 second
inserted another chunk, took 36.831 second
inserted another chunk, took 28.770 second

/var/folders/5l/2qnfzw2d371c6zxw3kb4z8dr0000gn/T/ipykernel_1247/2141830925.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 32.005 second
inserted another chunk, took 21.686 second

StopIteration:

In [ ]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')